*{
  margin:0;
}

.container{
  width: 1024px;
  margin:auto;
}

/* HEADER */
.back-img{
  height: 100px;
  background-color: deepskyblue;
  background-image: url(pattern.png);
  background-size: contain;
}

.logo{
  width:200px;
  height: 50px;
  line-height: 150px;
  margin-left: 50px;
}

#title{
  margin-top: 20px;
}

.autore{
  font-size: 15px;
  color: grey;
}

.nome-autore{
  color:deepskyblue;
}

.date{
  color: grey;
  font-size: 10px;
}
.tim-img{
  margin-top: 20px;
}
.tim-img p{
  font-size: 10px;
}
/* FINE HEADER */

/* MAIN */
.body-text{
  margin-top: 20px;
}

.underlined{
  background-color: goldenrod;
}

ul{
  margin-top: 20px;
}

table{
  margin-top: 20px;
  text-align: left;
}

.blue-row{
  background-color: deepskyblue;
  color:white;
}

.lightblue-row{
  background-color: lightblue;
}

#big-row{
  width:50%;
}
/* FINE MAIN */

/* FOOTER */
.interesting{
  margin-top:20px;
  color:grey;
}

.monitor{
  margin-top: 20px;
  background-image: url(monitor.jpg);
  width: 250px;
  height:150px;
  color:white;
  font-size: 20px;
}

.graph{
  margin-top: 20px;
  background-image: url(graph.jpg);
  width: 250px;
  height:150px;
  color:white;
  font-size: 20px;
  margin-bottom: 20px;
}
/* FINE FOOTER */
